<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Eryk's Library</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <form action="/search" method="post" class="mt-3">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" name="search_term" class="form-control" placeholder="Search">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .book-image {
            width: 100px;  /* Adjust as needed */
            height: 150px; /* Adjust as needed */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h1 class="text-center">Search Results</h1>
<div class="container">
    <h2>Books</h2>
    <table id="bookTable" class="table table-striped">
        <thead>
        <tr>
            <th><a href="#" onclick="sortTable(0)">Image</a></th>
            <th><a href="#" onclick="sortTable(1)">Title</a></th>
            <th><a href="#" onclick="sortTable(2)">Author</a></th>
            <!-- Add more columns as needed -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><img th:src="${book.url}" class="book-image" alt="Book cover"></td>
            <td><a th:href="@{/book/{id}(id=${book.id_book})}" th:text="${book.title}">Book Title</a></td>
            <td th:text="${book.author}">Author Name</td>
            <!-- Add more cells as needed -->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("bookTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>